.DS_Store
.env
.env.development
.env.local
.env.*
!.env.example
/node_modules/
/.github/instructions/*
.dev.vars
package-lock.json


.mf
.wrangler
.dev.vars*
worker-configuration.d.ts

# Bun
bun.lock

# React Router
/.react-router/
/build/
